//общие стили для мейна
main {
  @include textStyle();
  color: $textAbout;
}
// title
h2 {
  @include titleStyle();
  color: $black;
  padding-left: 10px;
  margin-bottom: 10px;
  line-height: 1;
}
//title border
.border-left {
  border-left: 9px solid $lightCard;
}
h3 {
  @include titleH3Style();
  color: $black;
}
h4 {
  @include titleH4Style();
  color: $black;
  line-height: 1;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
//white title
[class*="white-h"] {
  color: $white;
}
section {
  padding: 10px 20px;
}
.durk-section {
  background-color: $DarkGray;
  color: $white;
}
p {
  padding-left: 10px;
  padding-bottom: 10px;
}
a {
  text-decoration: none;
  display: block;
  margin: 1px;
}
// для квадратиков с сылками на соц. сети
.social-links-list,
.team-links-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
//квадритики в блоке We are Modest
.social-links-list {
  a {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
  }
  .link-1 {
    background: $socialLink url("../img/facebook.png") no-repeat center;
    &:hover {
      background: $lightGray url("../img/facebook.png") no-repeat center;
    }
  }
  .link-2 {
    background: $socialLink url("../img/tweter.png") no-repeat center;
    &:hover {
      background: $lightGray url("../img/tweter.png") no-repeat center;
    }
  }
  .link-3 {
    background: $socialLink url("../img/google.png") no-repeat center;
    &:hover {
      background: $lightGray url("../img/google.png") no-repeat center;
    }
  }
  .link-4 {
    background: $socialLink url("../img/ball.png") no-repeat center;
    &:hover {
      background: $lightGray url("../img/ball .png") no-repeat center;
    }
  }
  .link-5 {
    background: $socialLink url("../img/be.png") no-repeat center;
    &:hover {
      background: $lightGray url("../img/be.png") no-repeat center;
    }
  }
}
//квадритики в блоке Meet the team
.team-links-list {
  a {
    width: 50px;
    height: 50px;
  }
  .link-6 {
    background: $DarkGray url("../img/tweter.png") no-repeat center;
    &:hover {
      opacity: 0.8;
    }
  }
  .link-7 {
    background: $DarkGray url("../img/facebook.png") no-repeat center;
    &:hover {
      opacity: 0.8;
    }
  }
  .link-8 {
    background: $DarkGray url("../img/in.png") no-repeat center;
    &:hover {
      opacity: 0.8;
    }
  }
}
//нумирация в блоке We are Modest
.accent-blok {
  width: 50px;
  height: 50px;
  background-color: $accent;
  color: $white;
  @include flexCenter();
  margin-right: 10px;
  flex: 0 0 50px;
}
.accent-blok-flexbox {
  display: flex;
  justify-content: flex-start;
}
//team-card в блоке Meet the team
.team-card {
  background-color: $lightCard;
  position: relative;
  flex-direction: column;
  .team-card-img {
    width: 100%;
  }
  .team-card-txt {
    text-align: center;
  }
  .team-links-list {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 280px;
    align-items: center;
    justify-content: center;
    opacity: 0;
    &:hover {
      background-color: rgb(255, 255, 255, .5);
    }
  }
  &:hover .team-links-list {
    opacity: 1;
  }
  &:hover .team-card-txt {
    background-color: $DarkGray;
    color: $white;
  }
  &:hover h4 {
    color: $white;
  }
  &:hover {
    background-color: $DarkGray;
  }
}
.team-card:hover {
  background: $DarkGray;
}
// Lovely work style
.work {
  img {
    width: 100%;
    margin: 5px;
  }
  .lovely-work-btn {
    @include flexCenter();
    padding: 20px;
  }
}
// What we do style
.we-do-list {
  text-align: center;
}
[class*="we-do-img-"] {
  min-height: 15vmax;
}
.we-do-img-1 {
  background: url("../img/gear.png") no-repeat center;
}
.we-do-img-2 {
  background: url("../img/pencil.png") no-repeat center;
}
.we-do-img-3 {
  background: url("../img/mobile.png") no-repeat center;
}
.we-do-img-4 {
  background: url("../img/watch.png") no-repeat center;
}
.we-do-list li {
  text-align: center;
}

// ADAPTABILITY
/*only mobile */
@media (max-width: 767px) {
  main {
    font-size: 14px;
  }
  h2 {
    font-size: 18px;
    line-height: 1;
  }
  h3 {
    font-size: 16px;
    line-height: 1;
  }
  h4 {
    font-size: 15px;
    line-height: 1;
  }
  p {
    margin: 5px 0;
    display: block;
    width: 100%;
  }
  .social-links-list {
    flex-wrap: nowrap;
    a {
      width: 40px;
      height: 40px;
    }
  }
  .accent-blok {
    width: 30px;
    height: 30px;
    flex: 0 0 30px;
  }
  .flex-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    p {
      display: block;
    }
  }
  //!
  .flex-box {
    display: flex;
    justify-content: center;
  }
}
/* tablet */
@media (min-width: 768px) {
  section {
    padding: 30px 20px;
  }
  .flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .about-company {
    p {
      margin: 10px 0;
    }
  }
  .border-left {
    border-left: 16px solid $lightCard;
  }
}
/* laptop */
@media (min-width: 992px) {
  section {
    padding: 70px 20px;
  }
  .border-left {
    border-left: 18px solid $lightCard;
  }
}

/* lg (desktop) */
@media (min-width: 1200px) {
  .social-links-list {
    margin-top: 50px;
  }
  [class*="we-do-img-"] {
    min-height: 10vmax;
  }
}
