@import "./variables";
@import "./reset";
@import "./header";
@import "./hero";
@import "./main";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Quattrocento+Sans:wght@700&display=swap");

* {
  box-sizing: border-box;
}
// grid
.container {
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}
.row {
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
}
[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}
// xs <576px
.col-xs-1 {
  flex: 0 0 8.33333%;
  width: 8.33333%;
}
.col-xs-2 {
  flex: 0 0 16.66667%;
  width: 16.66667%;
}
.col-xs-3 {
  flex: 0 0 25%;
  width: 25%;
}
.col-xs-4 {
  flex: 0 0 33.33333%;
  width: 33.33333%;
}
.col-xs-5 {
  flex: 0 0 41.66667%;
  width: 41.66667%;
}
.col-xs-6 {
  flex: 0 0 50%;
  width: 50%;
}
.col-xs-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}
.col-xs-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}
.col-xs-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col-xs-10 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}
.col-xs-11 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}
.col-xs-12 {
  flex: 0 0 100%;
  width: 100%;
}
// sm ≥576px
@media (min-width: 576px) {
  .col-sm-1 {
    flex: 0 0 8.33333%;
    width: 8.33333%;
  }
  .col-sm-2 {
    flex: 0 0 16.66667%;
    width: 16.66667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.33333%;
    width: 33.33333%;
  }
  .col-sm-5 {
    flex: 0 0 41.66667%;
    width: 41.66667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    width: 100%;
  }
}
/* tablet  md≥768px*/
@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    flex: 0 0 41.66667%;
    width: 41.66667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* laptop lg≥992px*/
@media (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    width: 41.66667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    width: 100%;
  }
}
/* xl≥1200px(desktop) */
@media (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xl-12 {
    flex: 0 0 100%;
    width: 100%;
  }
}
// xxl≥1400px
@media (min-width: 1400px) {
  .col-xxl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xxl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xxl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 33.33333%;
    width: 33.33333%;
  }
  .col-xxl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xxl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xxl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xxl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xxl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xxl-12 {
    flex: 0 0 100%;
    width: 100%;
  }
}
/* max-width */
/* tablet */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* laptop */
@media (min-width: 992px) {
  .container {
    max-width: 1025px;
  }
}
/* lg (desktop) */
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
// xxl≥1400px
@media (min-width: 1400px) {
  .container {
    max-width: 1440px;
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 1900px;
  }
}
