@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Quattrocento+Sans:wght@700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  background: #1d2126;
  font-family: "Quattrocento Sans", sans-serif;
  color: #a4aead;
}

.logo img {
  max-width: 100%;
}

.navigation {
  overflow-x: auto;
}

.navigation ul {
  display: flex;
  justify-content: space-around;
}

.navigation-list {
  padding: 8px;
  text-align: center;
  height: 100%;
}
.navigation-list a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: inherit;
  padding: 8px;
}
.navigation-list a:hover, .navigation-list a:focus {
  padding: 7px;
  border: 1px solid #a4aead;
  border-radius: 5%;
}

.search {
  display: flex;
  justify-content: space-between;
  border: 1px solid #a4aead;
  border-radius: 5%;
  padding: 6px;
  width: 195px;
}
.search input {
  background-color: transparent;
  color: #a4aead;
  border: none;
  width: 155px;
  padding-left: 2px;
}
.search input:focus {
  outline: none;
}
.search input::-moz-placeholder {
  color: inherit;
  color: #a4aead;
  width: 155px;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
.search input:-ms-input-placeholder {
  color: inherit;
  color: #a4aead;
  width: 155px;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
.search input::placeholder {
  color: inherit;
  color: #a4aead;
  width: 155px;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.search-btn {
  height: 20px;
  width: 20px;
  padding: 0;
  border: none;
  background: url("../img/magnifier.png") no-repeat center;
  cursor: pointer;
}
.search-btn:hover {
  border: 1px solid #a4aead;
  border-radius: 8%;
}

/*only mobile */
@media (max-width: 767px) {
  .hidden-xs {
    display: none;
  }
  .flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .logo {
    padding-left: 20px;
    margin-top: 20px;
  }
  .navigation ul {
    justify-content: flex-start;
  }
}
/* tablet */
@media (min-width: 768px) {
  header {
    background: #1d2126;
  }
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .logo {
    text-align: center;
    margin-top: 10px;
  }
  .search {
    margin-bottom: 10px;
  }
}
/* laptop */
@media (min-width: 992px) {
  .header {
    padding: 1%;
  }
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .search {
    margin-bottom: 0;
  }
}
/* lg (desktop) */
@media (min-width: 1200px) {
  .header {
    background-color: inherit;
    padding: 0;
  }
  .header .container {
    background: #1d2126;
  }
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.hero {
  background: url("../img/slyder.png") no-repeat center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #ccd0d7;
}
.hero h1 {
  font-size: 36px;
  text-transform: uppercase;
  font-family: "Quattrocento Sans", sans-serif;
  color: #fff;
}
.hero .slyder-text {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

.whiteBtn {
  border: 1px solid #fff;
  width: 125px;
  height: 45px;
  border-radius: 5%;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Quattrocento Sans", sans-serif;
  text-align: center;
  line-height: 14px;
  color: #fff;
  cursor: pointer;
  background-color: inherit;
}

.accentBtn {
  background-color: #23b7a4;
  border: #23b7a4 1px solid;
  width: 125px;
  height: 45px;
  border-radius: 5%;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Quattrocento Sans", sans-serif;
  text-align: center;
  line-height: 14px;
  color: #fff;
  cursor: pointer;
  margin-right: 15px;
}

/*only mobile */
@media (max-width: 767px) {
  .hero {
    padding: 2px;
    justify-content: center;
    background-size: cover;
  }
  .hero h1 {
    font-size: 20px;
    margin: 15px 0;
  }
  .hero section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero .slyder-text {
    margin-bottom: 7px;
  }
  .hero .hero-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero .accentBtn {
    margin: 5px;
  }
  .hero .whiteBtn {
    margin: 5px;
  }
}
@media (min-width: 768px) {
  .hero {
    padding: 100px;
    justify-content: flex-start;
  }
  .hero h1 {
    padding-bottom: 15px;
  }
  .hero .slyder-text {
    padding-bottom: 15px;
  }
  .hero .hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero .accentBtn {
    margin: 10px;
  }
  .hero .whiteBtn {
    margin: 10px;
  }
}
/* lg (desktop) */
@media (min-width: 1200px) {
  section {
    justify-content: flex-start;
  }
  .hero .hero-btn {
    justify-content: flex-start;
  }
}
.about-company,
.team {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: #8d8f92;
  padding: 10px 20px;
}
.about-company h2,
.team h2 {
  font-size: 36px;
  text-transform: uppercase;
  font-family: "Quattrocento Sans", sans-serif;
  color: #292f36;
  padding-left: 10px;
}
.about-company .border-left,
.team .border-left {
  border-left: 9px solid #e1e6ea;
}
.about-company h3,
.team h3 {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Quattrocento Sans", sans-serif;
  color: #292f36;
}
.about-company .social-links-list,
.team .social-links-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.about-company .social-links-list a,
.team .social-links-list a {
  text-decoration: none;
  display: block;
  width: 60px;
  height: 60px;
  margin: 1px;
  margin-bottom: 20px;
}
.about-company .social-links-list .link-1,
.team .social-links-list .link-1 {
  background: #c8cdd0 url("../img/facebook.png") no-repeat center;
}
.about-company .social-links-list .link-1:hover,
.team .social-links-list .link-1:hover {
  background: #d0d5d9 url("../img/facebook.png") no-repeat center;
}
.about-company .social-links-list .link-2,
.team .social-links-list .link-2 {
  background: #c8cdd0 url("../img/tweter.png") no-repeat center;
}
.about-company .social-links-list .link-2:hover,
.team .social-links-list .link-2:hover {
  background: #d0d5d9 url("../img/tweter.png") no-repeat center;
}
.about-company .social-links-list .link-3,
.team .social-links-list .link-3 {
  background: #c8cdd0 url("../img/google.png") no-repeat center;
}
.about-company .social-links-list .link-3:hover,
.team .social-links-list .link-3:hover {
  background: #d0d5d9 url("../img/google.png") no-repeat center;
}
.about-company .social-links-list .link-4,
.team .social-links-list .link-4 {
  background: #c8cdd0 url("../img/ball.png") no-repeat center;
}
.about-company .social-links-list .link-4:hover,
.team .social-links-list .link-4:hover {
  background: #d0d5d9 url("../img/ball .png") no-repeat center;
}
.about-company .social-links-list .link-5,
.team .social-links-list .link-5 {
  background: #c8cdd0 url("../img/be.png") no-repeat center;
}
.about-company .social-links-list .link-5:hover,
.team .social-links-list .link-5:hover {
  background: #d0d5d9 url("../img/be.png") no-repeat center;
}

.about-company-value {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Quattrocento Sans", sans-serif;
  color: #292f36;
}

.accent-blok {
  width: 50px;
  height: 50px;
  background-color: #23b7a4;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  flex: 0 0 50px;
}

.accent-blok-flexbox {
  display: flex;
  justify-content: flex-start;
}

.team-card {
  background-color: #e1e6ea;
  margin: auto;
  position: relative;
}
.team-card .social-links-list {
  position: absolute;
  top: 20%;
  right: 20%;
  display: none;
}
.team-card:hover .social-links-list {
  display: block;
}
.team-card:hover {
  background-color: #3a454d;
}

.work {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  background-color: #3a454d;
  color: #fff;
  padding: 10px 20px;
}
.work h2 {
  font-size: 36px;
  text-transform: uppercase;
  font-family: "Quattrocento Sans", sans-serif;
  color: #fff;
  padding-left: 10px;
}
.work .border-left {
  border-left: 9px solid #e1e6ea;
}
.work img {
  width: 100%;
  margin: 5px;
}

/*only mobile */
@media (max-width: 767px) {
  .about-company,
.team,
.work {
    font-size: 15px;
  }
  .about-company h2,
.team h2,
.work h2 {
    font-size: 18px;
    line-height: 1;
  }
  .about-company h3,
.team h3,
.work h3 {
    font-size: 16px;
    line-height: 1;
  }
  .about-company p,
.team p,
.work p {
    margin: 5px 0;
    display: block;
    width: 100%;
  }
  .about-company .social-links-list,
.team .social-links-list,
.work .social-links-list {
    flex-wrap: nowrap;
  }
  .about-company .social-links-list a,
.team .social-links-list a,
.work .social-links-list a {
    width: 40px;
    height: 40px;
  }
  .about-company .accent-blok,
.team .accent-blok,
.work .accent-blok {
    width: 30px;
    height: 30px;
    flex: 0 0 30px;
  }
  .about-company .flex-start,
.team .flex-start,
.work .flex-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .about-company .flex-start p,
.team .flex-start p,
.work .flex-start p {
    display: block;
  }
  .about-company .flex-box,
.team .flex-box,
.work .flex-box {
    display: flex;
    justify-content: center;
  }
}
/* tablet */
@media (min-width: 768px) {
  .flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .about-company p {
    margin: 10px 0;
  }
}
/* laptop */
/* lg (desktop) */
@media (min-width: 1200px) {
  .social-links-list {
    margin-top: 50px;
  }
}
* {
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.row {
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
}

[class*=col-] {
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1 {
  flex: 0 0 8.33333%;
  width: 8.33333%;
}

.col-xs-2 {
  flex: 0 0 16.66667%;
  width: 16.66667%;
}

.col-xs-3 {
  flex: 0 0 25%;
  width: 25%;
}

.col-xs-4 {
  flex: 0 0 33.33333%;
  width: 33.33333%;
}

.col-xs-5 {
  flex: 0 0 41.66667%;
  width: 41.66667%;
}

.col-xs-6 {
  flex: 0 0 50%;
  width: 50%;
}

.col-xs-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-xs-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-xs-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-xs-10 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-xs-11 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-xs-12 {
  flex: 0 0 100%;
  width: 100%;
}

@media (min-width: 576px) {
  .col-sm-1 {
    flex: 0 0 8.33333%;
    width: 8.33333%;
  }
  .col-sm-2 {
    flex: 0 0 16.66667%;
    width: 16.66667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.33333%;
    width: 33.33333%;
  }
  .col-sm-5 {
    flex: 0 0 41.66667%;
    width: 41.66667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    width: 100%;
  }
}
/* tablet  md≥768px*/
@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    flex: 0 0 41.66667%;
    width: 41.66667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* laptop lg≥992px*/
@media (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    width: 41.66667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    width: 100%;
  }
}
/* xl≥1200px(desktop) */
@media (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xl-12 {
    flex: 0 0 100%;
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xxl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xxl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 33.33333%;
    width: 33.33333%;
  }
  .col-xxl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xxl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xxl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xxl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xxl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xxl-12 {
    flex: 0 0 100%;
    width: 100%;
  }
}
/* max-width */
/* tablet */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* laptop */
@media (min-width: 992px) {
  .container {
    max-width: 1025px;
  }
}
/* lg (desktop) */
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1440px;
  }
}
@media (min-width: 1500px) {
  .container {
    max-width: 1900px;
  }
}/*# sourceMappingURL=style.css.map */